.niv {
  text-align: center; /* Align the navigation bar to the center */
  width: 100%; /* Make the navigation bar take full width */
  position: fixed; /* Fix the navigation bar at the top */
  top: 0; /* Position it at the top */
  z-index: 1000; /* Ensure it's above other content */
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Add a semi-transparent white background */
}

.niv ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.niv li {
  display: inline; /* Display list items inline */
}

.niv a {
  display: inline-block; /* Display links as blocks */
  padding: 15px 20px; /* Add padding around the links */
  text-decoration: none;
  color: black; /* Change link color */
}

.niv a:hover {
  background-color: rgba(
    0,
    0,
    0,
    0.1
  ); /* Add a slight background color on hover */
}
